<!--
  Generated template for the ListProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar color="primary">
    <ion-title>Edit Product</ion-title>
    
    <ion-buttons end>
           <button *ngIf="product.pr_status == '1'" end ion-button outline color="danger-dark" (click)="enable(0)">
        Disable Product
      </button>
      <button *ngIf="product.pr_status == '0'" end ion-button outline color="light" (click)="enable(1)">
        Enable Product
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" mode="md" [(ngModel)]="segment">
    <ion-segment-button value="0">
      <ion-label>Product Category</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>Product Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>ProductPricing</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>Shipping & Inventory</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div>
    <ion-slides (ionSlideDidChange)="slideChanged()">
      <ion-slide class="store">
        <ion-list>
          <ion-item no-lines *ngIf="maincategory">
            <ion-label stacked>Main Category</ion-label>
            <ion-select [(ngModel)]="product.pr_main_category_id" placeholder="Select Main Category"
              (ionChange)="selectCat($event)">
              <ion-option *ngFor="let cat of maincategory" value="{{cat.id}}">{{cat.main_category_name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines *ngIf="category">
            <ion-label stacked>Category</ion-label>
            <ion-select [(ngModel)]="product.pr_category_id" placeholder="Select Category"
              (ionChange)="selectSubCat($event)">
              <ion-option *ngFor="let cat of category" value="{{cat.id}}">{{cat.category_name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines *ngIf="subcategory">
            <ion-label stacked>Sub Category</ion-label>
            <ion-select [(ngModel)]="product.pr_sub_category_id" placeholder="Select Sub Category">
              <ion-option *ngFor="let service of subcategory" value="{{service.id}}">{{service.sub_category_name}}
              </ion-option>
            </ion-select>
          </ion-item>

          <ion-item no-lines>
            <button (click)="onSubmit('1')" style="padding: 15px;font-size: 13px;" margin-top ion-button block
              type="submit">Next</button>
          </ion-item>
        </ion-list>
      </ion-slide>

      <ion-slide class="location">
        <ion-list>
          <ion-item no-lines>
            <ion-label stacked>Product Name </ion-label>
            <ion-input type="text" [(ngModel)]="product.pr_name"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label stacked>Brand Name </ion-label>
            <ion-input type="text" [(ngModel)]="product.brand_name"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label stacked>Description</ion-label>
            <ion-textarea rows="4" [(ngModel)]="product.pr_description"></ion-textarea>
          </ion-item>
          <ion-item no-lines>
            <ion-label stacked>Product Warranty</ion-label>
            <ion-input type="text" [(ngModel)]="product.pr_description_warranty"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label stacked>Variation (Colors)</ion-label>
            <ion-input type="text" [(ngModel)]="product.pr_colors"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label stacked>Sizes</ion-label>
            <ion-input type="text" [(ngModel)]="product.pr_sizes"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <button (click)="onSubmit('2')" style="padding: 15px;font-size: 13px;" margin-top ion-button block
              type="submit">Next</button>
          </ion-item>
        </ion-list>
      </ion-slide>

      <ion-slide class="contact">
        <ion-list>
          <ion-item no-lines>
            <ion-label stacked>Price</ion-label>
            <ion-input type="text" [(ngModel)]="product.pr_original_amount"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label stacked>Discount on Product</ion-label>
            <ion-input type="text" [(ngModel)]="product.pr_discount_percentage"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label stacked>Search Keyword</ion-label>
            <ion-input type="text" [(ngModel)]="product.search_keywords"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <button style="padding: 15px;font-size: 13px;" (click)="onSubmit('3')" margin-top ion-button block
              type="submit">Next</button>
          </ion-item>
        </ion-list>
      </ion-slide>

      <ion-slide class="social">

        <ion-list>
          <ion-item no-lines>
            <ion-label stacked>Stock in Inventory</ion-label>
            <ion-input type="text" [(ngModel)]="product.pr_inventory_stock"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label stacked>Shipping Type</ion-label>
            <ion-input type="text" [(ngModel)]="product.shipping_type"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label stacked>Shipping Charge</ion-label>
            <ion-input type="text" [(ngModel)]="product.shipping_charge_amount"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label stacked>Min Days of Delivery</ion-label>
            <ion-input placeholder="0" type="tel" [(ngModel)]="product.delivery_min_num_of_day"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label stacked>Max Days of Delivery</ion-label>
            <ion-input placeholder="0" type="tel" [(ngModel)]="product.delivery_max_num_of_day"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <button (click)="onSubmit('s')" style="padding: 15px;font-size: 13px;" margin-top ion-button block
              type="submit">Submit</button>
          </ion-item>
        </ion-list>
      </ion-slide>

    </ion-slides>
  </div>
</ion-content>