page-create-offer {
.form-control {
    height: calc(3.42rem + 20px);
    font-size: 15px;
}

.item-input ion-input, .item-input ion-textarea{
	position: static;
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #f5f5f5;
    padding: 3px 5px;
}
ion-datetime{

    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #f5f5f5;
    padding: 10px 5px;
}
.datetime-text{
	padding-left: 5px;
}
.label-ios{
	padding-left: 5px;
}
}
